<h2>VIEW</h2>
<br>
<br>
<h3>{{configJson.visualzier_name}}</h3>
<table>
    <tr>
        <td>
            <form name="previousView" action="/views/previous" method="GET">
                <input type="submit" id="previous" value="Previous">
            </form>
        </td>
        <td>
            <form name="nextView" action="/views/next" method="GET">
                <input type="submit" id="next" value="Next">
            </form>
        </td>
    </tr>
</table>
<br>